body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;

  /* COLORS */
  --purple: #5647b2;
}

/* Page Transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
